body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
    
    
#nav {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-weight: 400;
    padding: 20px;
    list-style: none;
    background-color:#221d48;
    border-bottom: 1px solid #221d48;
    border-top: 1px solid #221d48;
    margin-left: 0px; 
    
 }

.navbar-brand{
  color: blanchedalmond;
  font-size: 28px;
 
}
.city-list{
    margin-top: 20px;
    padding-right: 20px;
    padding-top: 20px;
    float: left;
    border: ridge;
    font-size: 22px;
}

.city{
    float: right;
}
.cursor-pointer{
    cursor: pointer;
   
}

.city-info{
    border: ridge;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

 /* #fivedaysweather{
     margin-top: 10px;
    
 } */

 .card{
     margin-right: 5px;
     font-size: 12px;
     background-color: skyblue;
     
 }
 .titleFiveDays{
     margin-top: 20px;
 }

/* .nameOfCity{
    font-size: 28px;
    font-weight: 100;
    color: red;

} */