body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: #42a4c1;
    color: white;

}
    
    
#nav {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-weight: 400;
    padding: 20px;
    list-style: none;
    background-color:#221d48;
    border-bottom: 1px solid #221d48;
    border-top: 1px solid #221d48;
    margin-left: 0px; 
    
 }


.navbar-brand{
  color: blanchedalmond;
  font-size: 28px;
 
}
.city-list{
    margin-top: 20px;
    padding-right: 20px;
    padding-top: 20px;
    float: left;
    align-items: center;
    border: ridge;
    font-size: 22px;
    width: 210px;
}

.city{
    float: right;
    width: max-content;
  
}
.cursor-pointer{
    cursor: pointer;
   
}

.city-info{
    margin-top: 20px;
    border: ridge;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
  
}

.weatherItems{
    margin-left: auto;
    margin-right: auto;
}

.dateOfcity {
    font-size: 28px;
}

 .card{
     margin-right: 5px;
     font-size: 14px;
     background-color:#036086;
     border-style: none;
     padding: 30px;
     
 }
 .card-weather{
     width: max-content;
 }
 .titleFiveDays{
     margin-top: 20px;
     font-size: 30px;
     margin-bottom: 10px;
     
 }

 .eachdate{
     font-size: 18px;
 }

 @media only screen and (max-width: 760px) {
    body {
      font-size: 12px;
    }
    .city-search{
        width: auto;
        align-items: center;
        text-align: center;
       
    }
    .city-list{
        font-size: 14px;
        width: auto;
        align-items: center;
    }
    .fiveDaysCard{
        flex-wrap: nowrap;

    }

    .fiveDaysWeather {
        flex-basis: 200px;
        flex-shrink: 1;
        flex-grow: 1;
        margin-bottom: 10px;
        width: auto;
      }
      .cityname {
          width: 80px
      }

     
      
  }